.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}

.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  height: 42px;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid var(--tw-color1);
  font-weight: 600;
  margin-top: 16px;
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
